<!-- The Popup -->
<div id="myPopup" class="popup">

    <!-- Popup content -->
    <div class="popup-content">
    
      <div id="infoText">

       <h1 style="line-height: 10px;">חיבור מפתח לאתר ווקומרס</h1>


          <h2 style="font-size: 16px">כתובת האתר שלך</h2>
          <input dir=rtl id="web_field" type="text" placeholder="https://example.co.il" name="main_field"
                 autocomplete="off"
                 oninput="checkInput()">
          <br>
          
  
        
          <p style="line-height: 10px;">
              <h2 style="font-size: 16px">מפתחות גישה</h2>
              <a style="font-size: small; color: grey;">להסבר איך להשיג מפתח</a>
              <a style="font-size: small;" href="https://ibb.co/9gR2zzy" target="_blank">לחץ כאן</a>
       </p>
          
          <input dir=rtl id="ck_field" type="text" placeholder="מפתח צרכן ck" name="main_field" autocomplete="off"
                 oninput="checkInput()">
  
          <input dir=rtl id="cs_field" type="text" placeholder="סיסמת צרכן cs" name="main_field" autocomplete="off"
                 oninput="checkInput()">

       <br>

          <button class="done-button">סיום</button>
  
          <br>
          <br>
          <a style="font-size: small; color: grey;">(גרסא 8)</a>

      </div>
  
    </div>
  
  </div>